# Data preprocessing

## Importing the libraries

In [ ]:
import numpy as  np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
df = pd.read_csv('Data.csv')
df.head(10)

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2
5             1017122                8  ...        1      4
6             1018099                1  ...        1      2
7             1018561                2  ...        1      2
8             1033078                2  ...        5      2
9             1033078                4  ...        1      2

[10 rows x 11 columns]

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

## Splitting the dataset

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Creating the model

## Training the logistic regression model on training set

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

## Predicting test set results

In [ ]:
y_pred = classifier.predict(X_test)

# Analysing the results

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)
print("Confusion matrix: \n{0} \nAccuracy score: {1}".format(cm, acc))

Confusion matrix:
[[103   4]
 [  3  61]]
Accuracy score: 0.9590643274853801